@using NhatH.MVC.CarInventory.Core.Core.Model.Mapper.Credential
@model LoginModel
@{
    ViewBag.Title = "Log in";
}
@Styles.Render("~/Content/SignInCss")

<div class="row">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h2 class="form-signin-heading">Please sign in</h2>
            <hr />
                <div class="bs-car-form ">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon-username"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon-username"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    </div>
                    
                    
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign in</button>
                </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}